.wrapper-body > main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    margin: 2rem 0;

    text-align: center;
    padding: 0 2rem;
}

main > p {
    width: 400px;
}

.presentation-img {
    width: 1000px;
    height: auto;

    border: 2px solid var(--color-secondary-opacity-25);
    border-radius: .5rem;
}

@media screen and (max-width: 1100px) {
    .presentation-img {
        width: 100%;
    }
}