body > main {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
}

main > section {
    height: calc(100% - 2rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

fieldset {
    border: none;
}

.secondary .button-selected {
    background-color: var(--color-complementary1-opacity-25);
}

form {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.form-edit-space-settings {
    flex-direction: column;
}

form > h1 {
    font-size: 3em;
    font-weight: 300;
}

.space-name label {
    font-size: 1em;
    margin-right: 3rem;
}

.space-name input[type="text"] {
    width: 16rem;
    padding: 1rem;

    background-color: var(--color-main);
    border: none;
    border-radius: 15px;
    color: var(--color-background);
    text-align: center;
}

.space-share {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.space-share span {
    display: flex;
    align-items: center;
    gap: 2rem;
}

form input[type="text"], 
form select {
    padding: .2rem .5rem;

    background: none;
    border: none;
    border-radius: 5px;
    color: var(--color-secondary);
    font-size: 1.2em;
}

.space-share .input-add-people-email {
    border: 2px solid var(--color-secondary-opacity-25);
    border-radius: 15px;
}

.action-button {
    border: none;
    background: none;
    cursor: pointer;
}

.action-button .svg-icon-close path {
    fill: var(--color-complementary-2);
}

#save-modifications {
    position: fixed;
    bottom: 8rem;
    right: 4rem;
}

#save-modifications .svg-icon-save {
    width: 50px;
    height: 50px;
}
