* {
    margin: 0;
    padding: 0;
}

html {
    height: calc(100vh - 1px);
}

body {
    height: 100%;

    display: grid;
    grid-template-rows: 4rem 1fr 4rem;

    background-color: var(--color-background);
}

body > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--color-background-opacity-75);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--color-background-opacity-75);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 20px;
    border: 3px solid var(--color-secondary);
}
  

input:focus {
    outline: var(--color-secondary-opacity-25) solid 2px;
}

input:invalid {
    color: var(--color-complementary-2);
}


/* Notification */
@keyframes pop-up {
    10%, 50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-10rem);
    }
}
#notification {
    position: absolute;
    left: 5rem;
    
    height: 1rem;
    padding: .5rem 1rem;
    transform: translateY(-10rem);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-background);
    box-shadow: 0px 0px 7px 1px var(--color-complementary-1);
    border-radius: 20px;
    z-index: 1000;

    animation: forwards 6s pop-up;
}

#notification p {
    color: var(--color-text);
    text-align: center;
}