header {
    height: 2rem;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgba(0, 0, 0, 0.75);

    padding: 1rem;
}

header > .header-title {
    width: 70%;

    display: flex;
    justify-content: center;
}

.reduced-title {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    .default-title {
        display: none;
        visibility: hidden;
    }

    .reduced-title {
        display: inline;
        visibility: visible;
    }
}

.header-buttons {
    min-width: 20rem;

    display: flex;
}

.header-buttons button {
    margin-left: 2rem;
    cursor: pointer;
}

.header-left-box-menu {
    cursor: pointer;
}
