/* Default White Theme */
:root {
    --color-background: #E8F7EE;
    --color-main: #0353A4;
    --color-secondary: #0081CC;
    --color-complementary-1: #1B998B;
    --color-complementary-2: #FE7F2D;
    --color-text: #020202;

    --color-secondary-opacity-25: rgba(0, 129, 204, 0.25);
    --color-complementary1-opacity-25: rgba(27, 153, 139, 0.25);
}