.transition-simple-bump:hover {
    transition-timing-function: cubic-bezier(0,1,0,1);
    transition-duration: 200ms;

    transform: scale(1.5);
}

.transition-double-bump:hover {
    transition-timing-function: cubic-bezier(0,1,1,0);
    transition-duration: 350ms;

    transform: scale(1.5);
}

.transition-simple-grow:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;

    transform: scale(1.2);
}

@keyframes simple-jump {
    50% {
        transform: translateY(-1rem);
    }
    to {
        transform: translateY(0);
    }
}

.transition-simple-jump:hover {
    animation: 400ms simple-jump ease-in-out;
}